.Game_score {
  position: absolute;
  transform: scale(0.8);
  overflow: hidden;
  padding: 0 calc(0.7rem * 5 / 4);
  height: calc(2.6rem * 5 / 4);
  min-width: calc(3.6rem * 5 / 4);
  font-size: calc(1.2rem * 5 / 4);
  line-height: 100%;
  text-align: center;
  right: calc(1rem * 4 / 5);
  top: calc(0.7rem * 4 / 5);
  background: rgba(0, 0, 0, 0.55);
  color: white;
  box-shadow: 0 1px 0.1rem 0px rgba(0, 0, 0, 0.4);
  outline: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  letter-spacing: 2px;
}

.Game_score > div {
  line-height: calc(2.6rem * 5 / 4);
  position: relative;
}

.Game_score_up,
.Game_score_down {
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.1, 0.73, 0, 0.37);
}

.Game_score_up {
  animation-name: scoreAnimationUp;
}
.Game_score_down {
  animation-name: scoreAnimationDown;
}

@keyframes scoreAnimationUp {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes scoreAnimationDown {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(0.8);
  }
}

.Game_score:before {
  content: "";
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  display: block;
  position: absolute;
  top: -2px;
  right: -2px;
}

.Game_score_up:before {
  background: green;
}

.Game_score_down:before {
  background: red;
}

.Game_score_up:before,
.Game_score_down:before {
  animation-name: scoreOpacityAnimation;
  animation-duration: 1200ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes scoreOpacityAnimation {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
