.Suggestions_true,
.Suggestions_false {
  animation-delay: 500ms;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.6, -0.1, 0.735, 0.045);
  animation-fill-mode: forwards;
}

.Suggestions_true {
  animation-name: suggestionAnimationTrue;
}

.Suggestions_false {
  animation-name: suggestionAnimationFalse;
}

@keyframes suggestionAnimationTrue {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100vw, 0, 0);
  }
}

@keyframes suggestionAnimationFalse {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100vw, 0, 0);
  }
}

.Suggestion {
  flex-basis: 2.15rem;
  line-height: 2.15rem;
  cursor: pointer;
  border: 0.12rem solid #a0b38e;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 0.4em black;
  font-size: 1.25rem;
  border-radius: 1rem;
  box-shadow: 0 1px 0.5rem 0px rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 1);
  transition: 0s 1s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.Suggestions_botanical .Suggestion {
  font-style: italic;
  background: rgba(140, 63, 23, 0.8);
  border-color: #d0b59f;
}

.Suggestions_common .Suggestion {
  background: rgba(38, 72, 128, 0.8);
  border-color: #a6b0da;
}

.Suggestion_selected,
.Suggestion_correct {
  transition: 0s;
}

.Suggestions_true .Suggestion_selected {
  background: green;
  border-color: #b0e6b0;
}

.Suggestions_false .Suggestion_correct {
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.54, 0.01, 0.81, 0.6);
  animation-fill-mode: forwards;
  animation-name: suggestionAnimationFalseCorrect;
}

@keyframes suggestionAnimationFalseCorrect {
  0% {
    background: green;
    border-color: #b0e6b0;
  }
  100% {
  }
}

.Suggestions_false .Suggestion_selected {
  border-color: #fdc4c4;
  background: red;
}
