.Home {
  padding: 1rem;
  display: grid;
  grid-template-rows: auto auto;
  align-content: space-evenly;
}

.Home_button {
  margin-bottom: 0.85rem;
}

.Home_intro {
  padding: 1rem;
  color: white;
  line-height: 1.27;
  background: rgba(0, 0, 0, 0.25);
  margin: 0.2rem auto 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 50%;
  padding: 0.8em;
  width: 17rem;
}

.Home_intro p.Home_intro_description,
.Home_intro span {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0;
}

.Home_intro span:after {
  content: " ";
  width: 0.3rem;
  display: inline-block;
}

.Home_intro .Home_intro_currentSet {
  padding-bottom: 0.8em;
}
