header {
  flex-basis: 4.5rem;
  padding: 0 1rem;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

.Header_logo {
  width: 10rem;
  margin: 0 auto;
  color: white;
}

.Header_name {
  line-height: 4rem;
  font-size: 2rem;
  height: 3rem;
}

.Header_name span:first-child {
  font-size: 0.91em;
}

.Header_name span:last-child {
  font-size: 0.86em;
}

.Header_name span:nth-child(2),
.Header_name span:nth-child(5) {
  font-size: 0.94em;
}

.Header_name span:nth-child(3),
.Header_name span:nth-child(4) {
  font-size: 0.98em;
}

.Header_domain {
  font-size: 0.86rem;
  line-height: 0.5rem;
  height: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
}
