.Game_Photo {
  position: relative;
  flex-grow: 1;
}

.Game_Photo_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.Game_Photo_container.Game_Photo_container_loaded {
  transform: scale(0);
  opacity: 1;
  animation-name: imageAnimation;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.19, 1.14, 0.8, 1.14);
  animation-fill-mode: forwards;
}

@keyframes imageAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.Game_Photo img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  border: 2px solid white;
  box-shadow: 0 1px 0.5rem 0px rgba(0, 0, 0, 0.4);
}
