* {
  box-sizing: border-box;
}

html {
  font-size: var(--rem);
}

body {
  background: black;
}

.button {
  text-align: center;
  line-height: 2.15rem;
  border: 0.15rem solid #619270ff;
  text-shadow: 0 0 0.4em black;
  font-size: 1.25rem;
  border-radius: 1rem;
  box-shadow: 0 1px 0.5rem 0px rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 1);
  background: #2b3c30dd;
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}
