* {
  box-sizing: border-box;
}

html {
  font-size: var(--rem);
}

body {
  background: black;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  max-width: calc(var(--vh) * 70);
  margin: 0 auto;
  overflow: hidden;
  font-family: "Dekko";
  background-image: url("./images/bg.png");
}

header {
  flex-basis: 4.5rem;
  padding: 0 1rem;
  color: white;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

header .appName {
  line-height: 4rem;
  font-size: 2rem;
  height: 3rem;
}

header .appName span:first-child {
  font-size: 0.91em;
}

header .appName span:last-child {
  font-size: 0.86em;
}

header .appName span:nth-child(2),
header .appName span:nth-child(5) {
  font-size: 0.94em;
}

header .appName span:nth-child(3),
header .appName span:nth-child(4) {
  font-size: 0.98em;
}

header .appDomain {
  font-size: 0.86rem;
  line-height: 0.5rem;
  height: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

.Game_message {
  color: white;
  text-align: center;
  padding-top: 2rem;
}

.Game_plant {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.Game_plant_options {
  flex-basis: 13.5rem;
}

.Game_plant_options > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 1rem 0;
}

.button {
  text-align: center;
  line-height: 2.15rem;
  border: 2px solid #a0b38e;
  text-shadow: 0 0 0.4em black;
  font-size: 1.25rem;
  border-radius: 1rem;
  box-shadow: 0 1px 0.5rem 0px rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 1);
  background: #333;
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}
